<div class="container ">
  <form action="/login" class="w-50 mx-auto mt-5" method="post">
  
    <h1 class="mb-3 fw-normal text-center">Login</h1>
    
    <div class="form-floating">
      <input type="email" class="form-control mt-3" name="email" id="floatingInput" placeholder="name@example.com" />
      <label for="floatingInput">Email address</label>
    </div>
    
    <div class="form-floating">
      <input type="password" class="form-control mt-3" name="password" id="floatingPassword" placeholder="Password" />
      <label for="floatingPassword">Password</label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
    
  </form>
</div>