<div class="container ">
  <form action="/register" class="w-50 mx-auto mt-5" method="post">
  
    <h1 class="mb-3 fw-normal text-center">Register</h1>
     {{#if registerError}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> 
        {{ registerError }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {{/if}}
    <div class="d-flex gap-3">
      <div class="form-floating w-50">
        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="lama" />
        <label for="firstName">First Name</label>
      </div>
      <div class="form-floating w-50">
        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Cama" />
        <label for="lastName">Last Name</label>
      </div>
    </div>
    
    <div class="form-floating">
      <input type="email" class="form-control mt-3" name="email" id="email" placeholder="name@example.com" />
      <label for="email">Email address</label>
    </div>
    
    <div class="form-floating">
      <input type="password" class="form-control mt-3" name="password" id="password" placeholder="Password" />
      <label for="password">Password</label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign up</button>
    
  </form>
</div>