<div class="container ">
  <form action="/register" class="w-50 mx-auto mt-5" method="post">
  
    <h1 class="mb-3 fw-normal text-center">Register</h1>
    
    <div class="d-flex gap-3">
      <div class="form-floating w-50">
        <input type="text" class="form-control" name="first_name" id="firstName" placeholder="lama" />
        <label for="firstName">First Name</label>
      </div>
      <div class="form-floating w-50">
        <input type="text" class="form-control" name="last_name" id="lastName" placeholder="Cama" />
        <label for="lastName">Last Name</label>
      </div>
    </div>
    
    <div class="form-floating">
      <input type="email" class="form-control mt-3" id="email" placeholder="name@example.com" />
      <label for="email">Email address</label>
    </div>
    
    <div class="form-floating">
      <input type="password" class="form-control mt-3" id="password" placeholder="Password" />
      <label for="password">Password</label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign up</button>
    
  </form>
</div>